---
---

// $base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// $base-font-size:   16px;
// $base-font-weight: 400;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// Width of the content area
// $content-width:    800px;
// $on-palm:          600px;
// $on-laptop:        800px;

$text-color:          hsl(0, 0%, 90%) ;
$background-color:    hsl(0, 0%, 13%) ;
// $brand-color:      #2a7ae2;

// minima devs called it grey
// accent would be more suited
// but blegh. too many changes
$grey-color:       pink;
$grey-color-light: lighten($grey-color, 90%);
$grey-color-dark:  darken($grey-color, 15%);

@import "minima";

.site-header, .site-footer {
    border-color: $grey-color;
}
.site-nav {
    border: none;
}
.site-nav:hover {
    border: 1px pink solid;
}

code, pre {
    background-color: lighten($background-color, 12%);
    border-color: lighten($background-color, 25%);
}
.highlight {
    border-radius: 3px;
}

a {
    color: hsl(220, 100%, 75%);
}
a:visited {
    color: hsl(230, 50%, 75%);
}
